<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172498780039-n704mheo58k785voevld3epj1civ1hac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172498780039-n704mheo58k785voevld3epj1civ1hac</string>
	<key>API_KEY</key>
	<string>AIzaSyBVrVQgNDte8wlLZ6pxLZQHX_BKZtlOR7g</string>
	<key>GCM_SENDER_ID</key>
	<string>172498780039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stheticsoftware.eduonix</string>
	<key>PROJECT_ID</key>
	<string>eduonix-4514c</string>
	<key>STORAGE_BUCKET</key>
	<string>eduonix-4514c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172498780039:ios:f6a27e48e698401883dd22</string>
</dict>
</plist>